@import '../../styles/variables.scss';

:root {
	--hover-delay: #{$transition-s} #{$transition-s};
	--radius: 12px;
	--action-color: #{$link-color};
	--border-color: #46494d;
}

.projects-container {
	padding-top: 50px;
	padding-bottom: 120px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
	gap: 50px;

	@include mobile {
		grid-template-columns: 1fr;
	}
}

.project {
	width: 100%;
	position: relative;
	border-radius: var(--radius);
	transform: translate(0, 0);
	transition:
		transform $transition-s,
		box-shadow $transition-s,
		border-color $transition-s;
	box-shadow: 0 4px 26px rgba(#000000, 0.6);

	@include tablet {
		box-shadow: 0 2px 12px rgba(#000000, 0.6);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 1px;
		left: 1px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		background-color: $blue-main;
		background: $transition-gradient;
		border-radius: var(--radius);
		transform: translateY(0);
		transition:
			transform var(--hover-delay),
			height var(--hover-delay),
			width var(--hover-delay);

		@include mobile {
			width: calc(100% - 5px);
			height: calc(100% - 5px);
		}
	}

	&:first-child {
		img {
			object-fit: contain;
			object-position: center 38%;
			height: 100%;
		}
	}

	// .project__inner
	&__inner {
		width: 100%;
		aspect-ratio: 1 / 1;
		position: relative;
		overflow: hidden;
		border: 1px solid var(--border-color);
		border-radius: var(--radius);

		transition: box-shadow var(--hover-delay);

		@include mobile {
			aspect-ratio: auto;
			height: 420px;
		}
	}

	// .project-description
	&-description {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(#000000, 0.89);
		backdrop-filter: blur(6px);
		box-shadow: 0 0 12px rgba(#000000, 0.65);
		color: $text-color;
		overflow: hidden;
		z-index: 4;
		transform: translateY(calc(100% - 67px));
		transition: transform var(--hover-delay);
		border-top: 1px solid var(--border-color);

		// .project-description__container
		&__container {
			padding: 20px 15px 30px;
		}

		// .project-description__header
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 20px;
			gap: 10px;

			&:hover {
				.project-description__name {
					color: var(--action-color);
				}
			}
		}

		// .project-description__name
		&__name {
			color: $body-color;
			font-family: $LouisGeorgeCafBold;
			letter-spacing: 1px;
			font-size: 21px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: color $transition-s;

			span {
				color: var(--action-color);
			}
		}

		// .project-description__year
		&__year {
			color: $subtitle-color;
			font-size: 15px;
			font-family: $LouisGeorgeCafBold;
			letter-spacing: 0.8px;
		}

		// .project-description__text
		&__text {
			margin-bottom: 18px;
			font-size: 14px;
			line-height: 1.5;
			color: #c8c8c8;
		}

		// .project-description__items
		&__items {
			font-family: $LouisGeorgeCaf;
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
			margin-bottom: 30px;

			span {
				display: inline-block;
				background: rgba(#000000, 0.5);
				border: 0.5px solid rgba(255, 255, 255, 0.24);
				color: $subtitle-color;
				padding: 3px 8px;
				border-radius: 4px;
				font-size: 12px;
			}
		}

		// .project-description__actions
		&__actions {
			display: flex;
			gap: 25px;
		}

		&__action {
			text-align: center;
			font-family: $LouisGeorgeCafBold;
			padding: 8px 10px;
			flex-grow: 1;
			width: 100%;
			max-width: 150px;
			letter-spacing: 1.4px;
			border-radius: 10px;
			color: var(--action-color);
			border: 1px solid rgba($link-color, 0.55);
			background-color: #000000;
			transition:
				box-shadow $transition-s,
				background-color $transition-s,
				color $transition-s;

			&:hover {
				background-color: var(--action-color);
				color: #000000;
			}
		}
	}

	// .project-link
	&-link {
		display: block;
		height: 100%;
		background-color: #000000;

		&:hover ~ .project-description {
			.project-description__name {
				color: var(--action-color);
			}
		}
	}

	&:hover {
		z-index: 2;
		transform: translate(-10px, -20px);

		@include mobile {
			transform: translate(0, -20px);
		}

		&::before {
			width: 100%;
			height: 100%;
			transform: translate(23px, 25px);

			@include mobile {
				width: calc(100% - 2px);
				transform: translate(0, 25px);
			}
		}

		.project__inner {
			box-shadow: 6px 6px 12px rgba(#000000, 0.5);

			@include mobile {
				box-shadow: 0 5px 10px rgba(#000000, 0.5);
			}
		}

		.project-description {
			transform: translateY(0);
		}

		.project-description__name {
			span {
				animation: LowLine 0.4s infinite;
			}
		}

		.project-link__img {
			transform: scale(1.28);
		}
	}

	img {
		transition: transform $transition-l;
		will-change: transform;
	}
}
